.content-settings-block {
    padding: 20px 0;
}

.content-block_title {
    margin-bottom: 0px;
    padding-bottom: 13px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #5D5D5D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DAE0E3;
    cursor: pointer;
    transition: all 0.3s ease;
}

.content-block_title.active {
    margin-bottom: 25px;
    color: #006FB6;
    border-bottom: 1px solid #006FB6;
    transition: all 0.3s ease;
}

.content-block_title.active svg {
    stroke: #006FB6;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.content-block_title svg {
    stroke: #7B7B7B;
    fill: transparent;
    transition: all 0.3s ease;
}

.content-block_title span {
    width: max-content;
}

.content-block_title:hover {
    color: #006FB6;
}

/* active */
.content-block_title.active { 
    color: #006FB6;
}
.content-block_title.active .content-block_title {
    border-bottom: 1px solid #006FB6;
}

.content-block_title.active svg {
    stroke: #006FB6;
    transform: rotate(180deg);
}



/* content-hidden */
.content-hidden_row {
    margin-bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.content-hidden_row:not(:last-child) {
    margin-bottom: 21px;
}

.content-hidden_column {
    padding: 0 15px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}



/* inputs, buttons */
.settings-form_title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #5D5D5D;
    cursor: pointer;
    transition: all 0.3s ease;
}

.settings-form_elements {
    position: relative;
    width: 100%;
}

.settings-input[disabled] {
    border: 1px solid #DAE0E3;
}

.settings-input {
    margin-bottom: 10px;
    padding-left: 16px;
    padding-right: 50px;
    border: 1px solid #006FB6;
    border-radius: 5px;
    background-color: #fff;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #5D5D5D;
    z-index: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.3s ease;
}
.settings-input:first-child {
    margin-top: 7px;
}

.settings-input-password {
    border: 1px solid #DAE0E3;
    position: relative;
}

.settings-input-password:focus {
    border: 1px solid #006FB6;
}

.elements-password {
    margin-top: 11px;
    position: relative;
}
.password-vis,
.password-hid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    z-index: 2;
}

.password-hid { display: none; }

.settings-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #C4C4C4;
    border-radius: 5px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border: none;
    z-index: 0;
    transition: all 0.3s ease;
}
.settings-button svg {
    fill: transparent;
    stroke: white;
}

.settings-button-ok {
    background-color: #006FB6;
    display: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}

/* .settings-form_elements:hover .settings-button { background-color: #006FB6; } */
.settings-input:focus { border: 1px solid #006FB6; }
/* .settings-form_elements:hover */
.settings-button:hover, .settings-button:focus { background-color: #006FB6; }
.add-element:hover { text-decoration: underline; color: #006FB6; }

.add-element {
    font-size: 14px;
    line-height: 24px;
    color: #7B7B7B;
    cursor: pointer;
    width: max-content;
}

::-webkit-input-placeholder {
    color: #A4A4A4;;
}

::-moz-placeholder {
    color: #A4A4A4;;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #A4A4A4;;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #A4A4A4;;
}



input[type="password"] {
    position: relative;
}
input[type="password"] + label:after {
    content:'';
    /* position: absolute; */
    top: 50%;
    right: 13px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background: black 'url(../img/profile-settings/eye.svg)' no-repeat center;
}
input[type="password"].active:after {
    content: 'url(../img/profile-settings/not-eye.svg)';
    position: absolute;
    top: 50%;
    right: 13px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
}





.birthday {
    display: flex;
    align-items: center;
}

.settings-content-block {
    padding: 15px 0;
    margin-bottom: 0px;
    border-bottom: none;
}

.birthday {
    margin-top: 7px;
    width: 100%;
    display: flex;
    align-items: center;
}

.birthday-select:not(:last-child) {
    margin-right: 11px;
}

.birthday-select {
    flex: 1 1 auto;

}
.birthday-select-header {
    min-height: 40px;
    border: 1px solid #DAE0E3;
    color: #5D5D5D;
    display: flex;
    justify-content: space-around;
    transition: all 0.3s ease;
}

.birthday-select_current {
    padding-left: 0;
    padding-right: 0;
    color: #5D5D5D;
    transition: all 0.3s ease;
}

.birthday-select_body {
    border: 1px solid #DAE0E3;
    opacity: 0;
    visibility: 0hidden;
    top: 150%;
    max-height: 150px;
    overflow: auto;
    width: min-content;
    min-width: 100%;
    transition: all 0.3s ease;
}

.birthday-select_icon {
    margin-left: 0;
    margin-right: 0;
}

.birthday-select_icon svg {
    fill: #5D5D5D;
    transition: all 0.3s ease;
}
.birthday-select.is-active .birthday-select_icon svg {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}
.birthday-select.is-active .birthday-select_body {
    opacity: 1;
    visibility: visible;
    top: 130%;
    transition: all 0.3s ease;
}

.profile-select-body {
    display: block;
}









/* radio buttons */

.settings-form-flex {
    display: flex;
    align-items: flex-end;
}

.settings-form-radio-label {
    display: flex;
    margin-bottom: 4px;
    cursor: pointer;
}

.settings-form-radio-label {
    margin-right: 15px;
}

.settings-form-radio-input {
    display: none;
}
.settings-form-radio-label .settings-form-radio-input:checked + .settings-form-radio-title:before {
    box-shadow: inset 0 0 0 3px #fff;
    border: 2px solid #006FB6;
}
  

.settings-form-radio-title {
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #5D5D5D;
    transition: 0.25s;
}
.settings-form-radio-title:before {
    display: flex;
    content: "";
    background-color: #006FB6;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 6px;
    transition: 0.25s;
    box-shadow: inset 0 0 0 10px #fff;
    border: 2px solid #A4A4A4;
}







/* Информация о компании */
.content-hidden-row-flex {
    align-items: center;
}

.content-hidden_column-flex-one {
    padding: 0 15px;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
}

.content-hidden_column-flex-two {
    padding: 0 15px;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
}

.settings-input-flex {
    margin: 0;
}

.settings-input-flex:first-child {
    margin-top: 0;
}






/* Политика кофиденциальности */

.privacyPolicy {
    margin-top: 36px;
    display: flex;
    align-items: flex-start;
}

.privacyPolicy-link,
.privacyPolicy-link a {
    font-size: 13px;
    line-height: 140%;
    color: #5D5D5D;
    max-width: 641px;
}

.privacyPolicy-link a:hover {
    color: #006FB6;
    text-decoration: underline;
}

.privacyPolicy label,
.notification-choise label {
    margin-left: 0;
    margin-right: 13px;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 120%;
    color: #5D5D5D;
}

.notification-choise label {
    margin-right: 0;
}

.privacyPolicy label span {
    margin-left: 15px;
}

.privacyPolicy input[type="checkbox"],
.notification-choise input[type="checkbox"] {
    margin-right: 10px;
    position: relative;
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    color: #363839;
    border: 2px solid #A4A4A4;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

.notification-choise input[type="checkbox"] {
    margin-right: 0;
}

.privacyPolicy input[type="checkbox"]:before {
    position: absolute;
    content: '';
    display: block;
    top: -1.5px;
    left: 4px;
    width: 4px;
    height: 10px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    border-radius: 4px;
}

.privacyPolicy input[type="checkbox"]:checked,
.notification-choise input[type="checkbox"]:checked {
    color: #fff;
    border-color: #006FB6;
    background: #006FB6;
}

.privacyPolicy input[type="checkbox"]:checked:before,
.notification-choise input[type="checkbox"]:checked:before {
    opacity: 1;
}

.privacyPolicy input[type="checkbox"]:checked:before~label:before,
.notification-choise input[type="checkbox"]:checked:before ~ label:before {
    color: #006FB6;
}

.privacyPolicy label {
    margin-left: 0px;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 120%;
    color: #5D5D5D;
}

.privacyPolicy label span {
    margin-left: 15px;
}

.privacyPolicy input[type="checkbox"] {
    margin-right: 10px;
    position: relative;
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    color: #363839;
    border: 2px solid #A4A4A4;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

.privacyPolicy input[type="checkbox"]:before,
.notification-choise input[type="checkbox"]:before {
    position: absolute;
    content: '';
    display: block;
    top: -1px;
    left: 4px;
    width: 7px;
    height: 13px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    border-radius: 4px;
}

.privacyPolicy input[type="checkbox"]:checked {
    color: #fff;
    border-color: #006FB6;
    background: #006FB6;
}

.privacyPolicy input[type="checkbox"]:checked:before {
    opacity: 1;
}

.privacyPolicy input[type="checkbox"]:checked:before~label:before {
    color: #006FB6;
}






/* settings-big-buttons */
.settings-big-buttons {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}

.settings-cancel,
.settings-save {
    background: #006FB6;
    border: 2px solid #006FB6;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1px;
    transition: all 0.3s ease;
}

.settings-cancel:hover {
    color: #fff;
    background: #00578F;
    box-shadow: 0px 2px 6px rgba(8, 35, 48, 0.18);
    border: 2px solid #00578F;
}
.settings-save:hover {
    background: #00578F;
    box-shadow: 0px 2px 6px rgba(8, 35, 48, 0.18);
    border: 2px solid #00578F;
}

.settings-cancel {
    padding: 14px 54px;
    margin-right: 10px;
    color: #006FB6;
    background-color: #fff;
}

.settings-save {
    padding: 14px 34px;
    background-color: #006FB6;
    color: #fff;
}

.settings-cancel.disabled,
.settings-save.disabled {
    color: #A4A4A4;
    border: 2px solid #A4A4A4;
}


.settigs-content-group {
    margin-bottom: 35px;
}

.content-hidden-row-flex {
    margin-bottom: 0;
}







@media all and (max-width: 1000px) {
    .birthday-select-item span { padding: 0 6px 0 4px; }
}
@media all and (max-width: 768px) {
    .content-hidden_column { flex: 0 0 50%; max-width: 50%; }
}

@media all and (max-width: 700px) {
    .content-hidden-row-flex { flex-direction: column; align-items: flex-start;   }
    .content-hidden_column-flex-one, .content-hidden_column-flex-two { flex: 1 1 100%; max-width: 100%; width: 100%; }
    .settings-form_elements .settings-input-flex { margin-top: 7px; }
}

@media all and (max-width: 600px) {
    .content-hidden_column { flex: 0 0 100%; max-width: 100%; margin-bottom: 20px; }
    .settings-form_title { margin-bottom: 0; }
}
@media all and (max-width: 500px) {
    .settings-cancel { padding: 14px 30px; }
    .settings-save { padding: 14px 25px; }
}
@media all and (max-width: 420px) {
    .settings-big-buttons { flex-direction: column; }
    .settings-cancel { width: 100%; margin-right: 0; margin-bottom: 15px; }
    .settings-save { width: 100%; }
}
@media all and (max-width: 370px) {
    .content-block_title span { max-width: 260px; width: 100%; }
}










/* УВЕДОМЛЕНИЯ */
.notification-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.notification-row:not(:last-child) {
    margin-bottom: 31px;
}

.notification-column-one {
    padding: 0 15px;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}

.notification-column-two {
    padding: 0 15px;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    justify-content: center;
}

.notification-sub-column {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

.notification-title,
.notification-choise span {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #5D5D5D;
}

.notification-name {
    font-size: 14px;
    line-height: 24px;
    color: #5D5D5D;
}

@media all and (max-width: 768px) {
    .notification-row {
        flex-direction: column;
    }
    .notification-row:not(:first-child) {
        margin-bottom: 25px;
    }
    .notification-sub-column {
        margin-top: 8px;
        justify-content: flex-start;
        max-width: max-content;
    }
    .notification-sub-column:first-child {
        margin-right: 30px;
    }
    .notification-column-two {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: flex-start;
    }
    .notification-column-one {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .notification-choise span {
        margin-left: 10px;
        cursor: pointer;
    }
    .title-name { display: none; }
}

@media all and (min-width: 769px) {
    .notification-choise span { display: none; }
}